.app-container {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.side-bar {
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}

.main-content-container {
    flex: 0 0 auto;
}

.note-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: cadetblue;
    padding: 5px;
    height: 100%;
}

/* .note-list-item-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */