.app-container {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.side-bar {
    flex: 0 0 200px;
    max-width: 200px;
}

.main-content-container {
    width: 100%;
}

.note-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: cadetblue;
    padding: 5px;
    height: 100%;
}

.note-list-item-container h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}